{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
      <div class="row">
          <!-- Левый вспомогательный блок -->
          <div class="col-md-3 mb-3 mt-1">
              <div class="card">
                  <div class="card-body">
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">
                              <div class="h3">
                                  Об авторе
                              </div> 
                          </li>
                          <li class="list-group-item">
                              <div class="h6 text-muted">
                                  Привет! Меня зовут Даня. Это мой самый первый сайт
                              </div>
                          </li>
                      </ul>                                               
                  </div>                    
              </div>                
          </div>
          <!-- Тело страницы -->
          <div class="col-md-9">
              <div class="card-body">                    
                  <div class="card-text">
                      <p>С программированием на Python я познакомился во время учебы в институте.<br>
                      Сейчас продолжаю изучать данный язык программирования на платформе Яндекс.Практикум<br>
                      Хочу стать востребованным специалистом в данной области<br>
                      <a href="https://github.com/dansen95">Здесь</a>, ссылка на мой аккаунт на GitHub<br>
                      Я во время прохождения курса:<br>
                      <img src="http://wallpoper.com/images/00/14/97/24/cute-golden-kitten_00149724.jpg" alt="Lamp" width="500" height="320">
                      </p>
                  </div>                    
              </div>                
          </div>            
      </div>        
  </main>
{% endblock %}