{% extends "base.html" %}
{% block title %} Страница пользователя {{ author.get_full_name }} {% endblock %}
{% block header %}<h1 class="text-center">Страница пользователя<br>
        {{ author.get_full_name }}</h1>  
{% endblock %}
{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    
                    {% include "includes/profilecard.html" %}
                    
                    {% if request.user != author %}
                        <li class="list-group-item">
                            {% include "includes/following.html" %}
                        </li>
                    {% endif %}
                    </ul>
                </div>
            </div>

            <div class="col-md-9">

                
                {% for post in page %}
                    {% include "includes/post_item.html" with post=post %}
                {% endfor %}

                
                {% include "includes/paginator.html" with items=page paginator=paginator %}
            </div>
        </div>
    </main>
{% endblock %}